:root {
  --card-blue: #6b7c85;
}

h1 {
  text-align: center;
}

body {
  background: linear-gradient(to bottom right, #75838b, #c7dce5);
}

form {
  margin: 2rem auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #000000;
  border-radius: 1em;
  background-color: var(--card-white);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;

  width: 300px;
  box-sizing: border-box;

  border: 1px solid #000000;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;

  height: 5em;

  resize: vertical;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button {
  display: block;
  margin: 0 auto;
}

.display-card {
  background: var(--card-blue);
  padding: 1rem 1rem;
  border-radius: 24px;
  margin-bottom: 1rem;
  min-height: 12px;
  justify-content: center;
  border: 1px solid #000000;
}

#prompt-list:empty {
  display: none;
}
